{{ define "main" }}
  <div class="post">
    <div class="post-content">
      <div class="container">
        {{ $team := where .Site.RegularPages "Type" "team" }}
        {{ $sections := slice "Principal Investigator" "Graduate Student" "Undergraduate Intern" }}
        {{ range $role := $sections }}
          {{ $members := where $team "Params.role" $role }}
          {{ if $members }}
            <section class="team-members">
              <h2>{{ $role }}</h2>
              {{ range $members.ByTitle }}
                <div class="team-member">
                  <p>
                    {{ .Title }}
                    {{ $details := slice }}
                    {{ with .Params.program }}
                      {{ range . }}
                        {{ $details = $details | append . }}
                      {{ end }}
                    {{ end }}
                    {{ with .Params.affiliation }}
                      {{ $details = $details | append . }}
                    {{ end }}
                    {{ with .Params.summer }}
                      {{ $details = $details | append (printf "summer %s" .) }}
                    {{ end }}
                    {{ with index .Params "co-mentors" }}
                      {{ range . }}
                        {{ $details = $details | append (printf "co-mentored by Dr. %s" .) }}
                      {{ end }}
                    {{ end }}
                    {{ with $details }}
                      ({{ delimit . ", " }})
                    {{ end }}
                  </p>
                </div>
              {{ end }}
            </section>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
